<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro producto</title>
</head>
<body>
    
                <!-- redirecciona a router.post('/registrar',(req,res)=>{ en el index-->
    <form action="registrar" method="post">
        <input type="number" name="Referencia" placeholder="referencia">
        <input type="text" name="Nombre" placeholder="Nombre">
        <input type="text" name="Descripcion" placeholder="Descipcion">
        <input type="number" name="Precio" placeholder="Precio">
        <input type="number" name="Stock" placeholder="stock">
        <input type="checkbox" name="Estado" placeholder="Estado">

        <button type="submit">Enviar</button>
    </form>
</body>
</html>